*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;
}

header{

    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    gap: 100px;
    z-index: 2;

   
    & img {
        width: 150px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(4, 25%);
            gap: 20px;

        }
    }
  
}
